// 常用的div設定
.often {
    margin-left: 4rem;

    h2 {
        font-size: 42px;
    }

    table {
        td {
            font-size: 26px;
            padding: 0.8rem;
            border: 1px solid black;
        }
    }
}