@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* font-family: "標楷體"; */
  font-family: 'Noto Sans TC', sans-serif;
}

body {
  font-size: 20px;
}

h1 {
  font-size: 40px;
  font-weight: normal;
  text-align: center;
}

h4 {
  padding: 1.5rem;
  font-size: 20px;
  text-align: center;
}

header {
  /* background-color: wi; */
  width: 100%;
  padding: 1rem;
  text-align: center;
}

/* 重要紅字標籤 */
#imp {
  color: red;
}

/* 字型單獨放大 */
#f32 {
  font-size: 32px;
}

/* 導覽列子分隔 */
nav {
  font-size: 24px;
  background-color: #314c5e;
  margin-bottom: 60px;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

nav ul li {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

nav ul li ul {
  display: none;
  position: absolute;
  top: 100%;
  width: 10rem;
  background-color: #314c5e;
  -webkit-transition: all 10s ease;
  transition: all 10s ease;
}

nav ul li ul li a {
  width: 10rem;
  color: white;
  text-decoration: none;
}

nav ul li ul li a:hover {
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  background-color: goldenrod;
  color: firebrick;
}

nav ul li:hover ul {
  display: block;
  -webkit-transition: 10s ease;
  transition: 10s ease;
}

nav ul li a {
  padding: 0.75rem 1rem;
  margin: auto;
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  background-color: goldenrod;
  color: firebrick;
}

/* index目錄 topsort */
.topsort {
  width: 100%;
  max-width: 1400px;
  margin: auto;
}

/* RWD  */
@media screen and (min-width: 768px) {
  .topsort {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.box {
  margin: 0 10px;
  background-color: cadetblue;
}

.box a {
  display: block;
  font-size: 24px;
  padding: 15px;
  color: white;
  text-decoration: none;
}

.box a:hover {
  color: sienna;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: snow;
}

.box a:hover::after {
  width: 100%;
  background-color: black;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.box a::after {
  content: "";
  display: block;
  margin: auto;
  height: 4px;
  width: 0;
}

@media screen and (max-width: 768px) {
  .box {
    margin: auto;
  }
}

/* 
    article 文章設計 主div
    title 標題 div
    txt 內容文字 div
*/
.article {
  margin: 1rem 0;
}

.article .title {
  margin: auto;
  width: 100%;
  max-width: 1400px;
}

.article .title::after {
  content: "";
  display: block;
  height: 4px;
  width: 15%;
  margin: auto;
  background-color: #FFC996;
}

.article .txt {
  margin: auto;
}

@media screen and (max-width: 768px) {
  .article .txt {
    width: 100%;
    font-size: 14px;
  }
}

.article .txt p {
  font-size: 20px;
  margin: 0.8rem 0;
  text-align: center;
}

.article .txt img {
  width: 50%;
  margin: auto;
  margin-top: 50px;
}

/* RWD  */
@media screen and (max-width: 768px) {
  .article .txt img {
    width: 100%;
  }
}

.article table {
  margin: auto;
  margin-top: 30px;
  max-width: 1400px;
  table-layout: fixed;
}

.article .txt table img {
  width: 70%;
}

/* 分級補貼table */
.article .sptable {
  margin: auto;
  margin-top: 50px;
  width: 100%;
  max-width: 1400px;
  table-layout: fixed;
}

/* 第一行td變色 */
.sptable td:nth-child(1) {
  color: #53354A;
  background-color: #E3FDFD;
  padding: 0.5rem;
}

.article .sptable a {
  color: #53354A;
  font-size: 24px;
  display: inline;
}

/* 公所地址 table */
.addresstable td:nth-child(1) {
  font-size: 24px;
  background-color: #FBF0F0;
}

.addresstable td:nth-child(2) {
  font-size: 18px;
  background-color: #FAFAFA;
  text-align: left;
}

/* RWD  */
/* @media screen and (min-width: 768px) {
    .article {
        display: flex;
    }
} */
.article a {
  font-size: 24px;
  display: block;
  text-decoration: none;
  color: black;
  padding: 1rem 0;
}

.article a:hover {
  color: sandybrown;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.article img {
  display: block;
  margin: auto;
  width: 80%;
}

/* QA資料表格 */
.article .filetable th {
  font-size: 20px;
  background-color: cadetblue;
  color: white;
}

.article .filetable td {
  padding: 0.5rem;
}

.filetable td:nth-child(1) {
  font-size: 20px;
  background-color: sandybrown;
  color: #53354A;
}

.filetable ol {
  text-align: left;
}

/* QA資訊 案件處理 網頁 */
.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  border: 3px solid black;
  margin-top: 2rem;
  margin-bottom: 2rem;
  max-width: 1400px;
}

.wraptitle {
  text-align: center;
  margin: 3rem;
  /* min-width: 300px; */
}

/* RWD */
/* @media screen and (min-width: 768px) {
    .wraptitle {
        min-width: none;;
    }
} */
.wraptitle::after {
  content: "";
  display: block;
  width: 4rem;
  height: 5px;
  background-color: darkcyan;
  margin-left: auto;
}

.wraptxt p {
  padding: 0.25rem 0;
}

.wraptxt ul li {
  padding: 5px 0;
  margin-left: 1.5rem;
}

/*  */
table {
  margin: auto;
  font-size: 18px;
  table-layout: fixed;
}

table, th, td {
  border-collapse: collapse;
  border: 1px solid black;
}

/* 施工中社宅的表格 */
.bulid {
  font-size: 16px;
}

.bulid td:nth-child(odd) {
  background-color: beige;
}

.bulid td ul li {
  margin: 0.5rem;
}

table tr td ul {
  list-style: none;
}

th, td {
  text-align: center;
  padding: 0.35rem;
}

/* 文字靠左 */
#textleft {
  text-align: left;
}

/* 方塊置中 */
#mauto {
  margin: auto;
}

/* 表單頁面download css */
/* a標籤設計 */
.form {
  margin: 2rem 0;
  padding: 0 1rem;
}

.form a {
  color: #054153;
  padding: 0 10px;
  font-size: 24px;
  text-decoration: none;
}

.form a:hover {
  color: #f8982a;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.form th {
  font-size: 32px;
  color: snow;
  background-color: darkcyan;
}

.form td:nth-child(1) {
  font-size: 20px;
  text-align: center;
}

.form td:nth-child(2) {
  font-size: 24px;
  text-align: left;
}

.form input[type=button] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: white;
  padding: 0.2rem;
  margin: 0.2rem;
  font-size: 20px;
}

.form input[type=button]:hover {
  background-color: burlywood;
  color: brown;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* text排序 */
ol {
  padding-left: 30px;
  list-style-type: decimal;
}

ol li {
  padding: 0.4rem 0;
}

.text img {
  width: 40%;
}

.title {
  margin: 20px;
  font-size: 36px;
  text-align: center;
}

.title p {
  font-size: 32px;
}

.main .radiotype {
  margin: 1.5rem 0;
  text-align: center;
  font-size: 30px;
}

.main .radiotype::after {
  content: "";
  display: block;
  margin: auto;
  height: 3px;
  width: 25%;
  background-color: black;
}

.main .radiotype input[type=radio] {
  margin: 0 5px;
  height: 24px;
  width: 24px;
}

.main .radiotype input[type=radio]:hover + label {
  text-shadow: black 0.1rem 0.1rem 0.2rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #cc2727;
}

.main .radiotype input[type=radio]:checked + label {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #0082b1;
}

.main .maintable {
  margin: 20px 0;
}

.main .maintable table {
  font-size: 30px;
  table-layout: auto;
  border-collapse: collapse;
}

.main .maintable table th {
  color: white;
  background-color: #0088b1;
  padding: 20px;
}

.main .maintable table td {
  padding: 10px;
}

.main .maintable input[type=text] {
  font-size: 30px;
  text-align: center;
  width: 240px;
  border: 0px;
}

.main .maintable input[type=text]:focus {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #b10018;
}

.main .maintable input[type=text] input[type=number] {
  font-size: 48px;
  text-align: center;
  width: 120px;
}

.button {
  margin: 40px 0;
  text-align: center;
}

.button input[type=submit] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: white;
  padding: 1rem;
  color: #b10018;
  border: 3px skyblue solid;
  font-size: 36px;
}

.button input[type=submit]:hover {
  background-color: #b10018;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: white;
  border: 3px black solid;
}

.button input[type=button] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #0088b1;
  padding: 1rem;
  color: white;
  border: 3px #87ebcd solid;
  border-radius: 1rem;
  font-size: 28px;
}

.button input[type=button]:hover {
  background-color: #b10018;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: white;
  border: 3px black solid;
}

.processtable {
  margin: 50px 0;
}

.processtable table thead th {
  font-size: 20px;
  background-color: #FFC996;
}

.processtable table tbody th {
  font-size: 18px;
  background-color: skyblue;
}

.processtable table tbody td {
  text-align: left;
}

div.wuxiheader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

div.wuxiheader div.logo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 5;
      -ms-flex: 5 1 50px;
          flex: 5 1 50px;
}

div.wuxiheader div.logo h1 {
  font-weight: normal;
}

div.wuxiheader nav {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 400px;
          flex: 2 1 400px;
}

div.wuxiheader nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

div.wuxiheader nav ul li a {
  text-decoration: none;
  font-size: 1.3rem;
}

.wuxi img {
  height: 720px;
  width: 100%;
}

.wuxi .wuxitxt {
  margin: 20px 10px;
}

.wuxi .wuxitxt h3 {
  font-size: 30px;
}

.wuxi .wuxitxt p {
  font-size: 24px;
}

.sidebox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  width: 1200px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sidebox a {
  text-decoration: none;
}

.sidebox a:hover i {
  font-size: 52px;
  color: #d33a0c;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.sidebox a:hover p {
  font-size: 32px;
  color: #076e75;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.sidebox .headerbox {
  padding: 20px 20px;
  text-align: center;
}

.sidebox .headerbox i {
  font-size: 48px;
  color: cadetblue;
}

.sidebox .headerbox p {
  font-size: 24px;
  color: black;
}

.yellow {
  background-color: bisque;
}

.imp {
  color: #cc2727;
}

.f20 {
  font-size: 20px;
}

.f32 {
  font-size: 32px;
}

.tac {
  text-align: center;
}

.separate {
  margin: 50px 0;
}

.separate table thead {
  font-size: 32px;
  background-color: #bbded6;
}

.separate table tbody td {
  text-align: left;
}

.separate table tbody td:first-child {
  font-size: 18px;
}

.separate table tbody td p {
  padding: 5px 0;
}

.separate table tbody td input {
  font-size: 24px;
}

.separate table tbody td input:hover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: goldenrod;
  color: grey;
}
/*# sourceMappingURL=style.css.map */