*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: "標楷體"; */
    font-family: 'Noto Sans TC', sans-serif;
}


body{
    font-size: 20px;
}

header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    div.logo {
        align-items: center;
        flex: 5 1 50px;
        h1 {
            font-weight: normal;
        }
    }
    nav {
        flex: 2 1 400px;
        ul {
            display: flex;
            list-style: none;
            justify-content: space-around;
            li {
                
                a {
                    padding: 1rem;
                    color: #09777D;
                    text-decoration: none;
                    font-size: 1.3rem;
                    &:hover {
                        color: white;
                    background-color: #09777D;
                    transition: all 0.5s ease;
                    }
                }

            }
        }
    }
}
.wuxi {
    img {
        height: 720px;
        width: 100%;
    }
}

.wuxititle {
    display: flex;
    margin: auto;
    justify-content: center;
    div.title {
        padding: 20px 50px;
        text-align: center;
        i {
            font-size: 48px;
            color: cadetblue;
            &::after {
                content: "";
                display: block;
                margin: 5px 0;
                height: 5px;
                width: 0;
            }
            &:hover {
                font-size: 60px;
                color: skyblue;
                transition: all 0.3s ease;
                &::after {
                    width: 100%;
                    background-color: palevioletred;
                    transition: all 0.5s ease;
                }
            }
        }
        p {
            font-size: 24px;
            color: palevioletred;
        }
    }
}

@media screen and (max-width: 768px) {
    .wuxititle {
        flex-wrap: wrap;
    }
}

main {
    section.backImage {
        min-height: 90vh;
        width: 100%;
        background-image: url(../img/梧棲社宅.png);
        background-size: cover;
        background-position: center;
        position: relative;
        z-index: 0;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h3 {
            font-size: 4.5rem;
            color: white;
            margin: 1.5rem 0rem;
        }

        button.start {
            background-color: #3bf0e5;
            padding: 0.75rem 1.5rem;
            font-size: 1.5rem;
            color: white;
            border: none;
            border-radius: 1rem;
            cursor: pointer;
        }
        div.filter {
            background-color: rgba(0, 0, 0, 0.2);
            width: 100%;
            min-height: 90vh;
            position: absolute;
            top: 0;
            z-index: -1;
        }
    }

}
h2 {
    font-size: 60px;
    margin: 25px 0;
    color: rgb(141, 83, 26);
    &::after {
        content: "";
        display: block;
        margin: 0 0 0 5rem;
        width: 10rem;
        height: 5px;
        background-color: rgba(173, 9, 64, 0.774);
    }
}

.wuxitxt {
    margin: 15px 60px;
    border: 2px solid rgb(185, 158, 192);
    border-radius: 15px;
    padding: 20px;
    p {
        font-size: 32px;
    }
}